extends ../../layouts/master
block content

  div#trip-id(data-trip-id=trip._id.toString())
  .row.title-block
    .col-sm-offset-2.col-sm-8.col-xs-12
      .row
        .col-sm-6.col-xs-12trip-details
          h2= trip.title
          h5= trip.destinationCity
          h5= trip.theme
          h6= trip.fare
        .col-sm-6.col-xs-12
          .row
            .col-xs-12.trip-dates
              h5= trip.departureDate
              h5= trip.returnDate
          .row
            .col-xs-6.trip-hash
              h4= '#' + trip.hashtag
            .col-xs-6.trip-tweet
              include ../../partials/tweet
  
  .row.reco-block
    .col-sm-2.col-xs-12.reco-place.text-center
      i.fa.fa-map-marker
      .row
        each phrase in histogram
          .col-xs-12.hashtag-wrapper
            .row
              .col-xs-12.reco-hash
                i.fa.fa-location-arrow
                span= phrase.suggestion
            .row
              .col-xs-12.reco-add
                input(type='time')
                button.add-suggestion.btn.btn-xs +
            .row
              .col-xs-12.reco-count
                span= phrase.count + ' Recos!'
    .col-sm-2.col-xs-12.reco-date.text-center
      i.fa.fa-calendar
      .row
        .col-xs-12
          each i in trip.itinerary
            .itinerary= i.date
    .col-sm-2.col-xs-12reco-schedule.text-center
      i.fa.fa-floppy-o
      button#save.btn.btn-warning SAVE
    .col-sm-6.col-xs-12
      #schedule

block scripts
  script(src='/js/show.js')
