extends ../../layouts/master
block content

  div#trip-id(data-trip-id=trip._id.toString())
  img.bg.show-page(src='https://ununsplash.imgix.net/photo-1422464804701-7d8356b3a42f?q=75&fm=jpg&s=16b012c7997852a115d858cf93583e3b')
  .row.show-main-header
    .col-xs-12.col-sm-4.text-right
      span.trip-depart Depart 
      i.fa.fa-arrow-circle-left.inverse.fa-flip-horizontal.fa-2x
      span.trip-depart= moment(trip.departureDate).format("MMM Do YY")
    .col-xs-12.col-sm-4.text-center
      span.trip-title= trip.title
      span.trip-dest= _.trunc(trip.destinationCity, 15)
    .col-xs-12.col-sm-4
      span.trip-return Return 
      i.fa.fa-arrow-circle-left.inverse.fa-2x
      span.trip-return= moment(trip.returnDate).format("MMM Do YY")

  if !trip.isComplete
    .row
      .col-xs-12.text-center.tweet-button
        h3.tweet-cta= 'Tweet your #' + trip.hashtag
        include ../../partials/tweet
  .row.generator
    .col-sm-3.text-center
      
      if !trip.isComplete
        i.fa.fa-map-marker
          .row
            each phrase in histogram
              .col-xs-12.hashtag-wrapper
                .row
                  .col-xs-12.reco-hash
                    span.suggestion= phrase.suggestion
                .row
                  .col-xs-12.reco-add
                    input(type='time')
                    button.add-suggestion.btn.btn-xs +
    .col-sm-3.text-center
      i.fa.fa-calendar
        .row
          .col-xs-12
            each i in trip.itinerary
              .itinerary= i.date
    .col-sm-6
      .row
        .col-xs-12.text-center
          i.fa.fa-floppy-o#save
      .row
        if !trip.isComplete
          button.btn.btn-default#complete Complete
        #schedule

block scripts
  script(src='/js/show.js')
