extends ../../layouts/master
block content

  div#trip-id(data-trip-id=trip._id.toString())

  h3 Itinerary Planner
  h5= trip.title
  p= trip.hashtag
  p= trip.departureDate
  p= trip.returnDate
  p= trip.theme
  p= trip.fare
  p= trip.destinationCity
  
  include ../../partials/tweet

  ul
    each phrase in histogram
      .suggestion
        li
          h6= phrase.suggestion
          p= phrase.count
          input(type='time')
          button.add-suggestion.btn.btn-xs Add

  button#save.btn.btn-warning SAVE

  #itinerary
    each i in trip.itinerary
      .itinerary= i.date

  #schedule

block scripts
  script(src='/js/show.js')
